.article {
  display: flex;
  list-style: none;
  gap: 30px;
  article {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__icon {
    background-color: $primaryColor;
    padding: 25px 100px;
  }
  &__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
  }
  &__text {
    color: $textLightColor;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.photo {
  &__container {
    display: flex;
    padding-top: 50px;
    gap: 30px;
  }
  &__box {
    position: relative;
    display: block;
    height: 294px;
  }
  &__caption {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: $white;
    letter-spacing: 0.03em;
  }
}
