.card {
  &__main-list {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 20px;

    figure {
      height: 100%;
      background: white;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      margin: 0;
      padding: 0;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    img {
      width: 100%;
      // height: 460px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
    font-size: 16px;
    line-height: 1.19;
    &--dark {
      font-weight: 500;
      line-height: 1.2;
      padding: 0;
    }
    &--light {
      color: $textLightColor;
      padding: 0;
    }
  }
  &__secondary-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 16px 0 0;
  }
  &__icon {
    fill: $icons;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: fill $animationTime, background-color $animationTime;
    &:hover,
    &:focus {
      fill: #fff;
      background-color: $secondaryColor;
      cursor: pointer;
    }
  }
}
@include tablet {
  .card {
    &__main-list {
      figure {
        height: 536px;
      }
      img {
        width: 354px;
        height: 374px;
      }
    }
  }
}
@include desktop {
  .card {
    &__main-list {
      padding-top: 40px;

      figure {
        height: 428px;
      }
      img {
        width: 270px;
        height: 260px;
      }
    }
  }
}
