.menu-container {
  display: none;
}
.main-nav {
  display: none;
}
.contact-links {
  display: none;
}
.main-nav {
  &__logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $secondaryColor;
  }
  &__logo--white {
    color: $white;
    margin: 0;
  }
  &__logo--footer {
    padding: 0;
    margin: 0;
  }
}
.contact-links__footer {
  color: $transparentWhite;
  line-height: 1.71;
  text-decoration: none;
  transition: color $animationTime;
  &:focus,
  &:hover {
    color: $secondaryColor;
  }
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .main-nav {
    display: flex;
    align-items: center;
    gap: 83px;
    &__logo {
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.03em;
      color: $secondaryColor;
    }
    &__logo--black {
      color: $textDarkerColor;
      margin: 0;
    }
    &__logo--white {
      color: $white;
      margin: 0;
    }
    &__logo--footer {
      padding: 0;
      margin: 0;
    }
    &__links {
      list-style: none;
      display: flex;
      gap: 60px;
    }
  }
  .main-nav__links-item {
    text-decoration: none;
    color: $textDarkerColor;
    font-weight: 500;
    line-height: 1.15;
    font-size: 14px;
    letter-spacing: 0.02em;
    position: relative;
    transition: color $animationTime;
    &:hover,
    &:focus {
      color: $secondaryColor;
    }
    &--underline {
      position: relative;
      color: $secondaryColor;
    }
    &--underline::after,
    &:hover::after,
    &:focus::after {
      content: "";
      width: 100%;
      height: 4px;
      background-color: $secondaryColor;
      border-radius: 2px;
      position: absolute;
      left: 0;
      bottom: -32px;
    }
  }
  .contact-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__item {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 8px;
      color: $textLightColor;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.02em;
      transition: color $animationTime;
      &:hover,
      &:focus {
        color: $secondaryColor;
      }
    }
    &__icon {
      fill: currentColor;
    }
    &__footer {
      color: $transparentWhite;
      line-height: 1.71;
      text-decoration: none;
      transition: color $animationTime;
      width: fit-content;
      &:focus,
      &:hover {
        color: $secondaryColor;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .main-nav {
    gap: 93px;
    &__logo {
      font-size: 26px;
      line-height: 31px;
    }
    &__logo--footer {
      padding: 0;
      margin: 0;
    }
    &__links {
      gap: 46px;
    }
  }
  .contact-links {
    flex-direction: row;
    gap: 50px;
    &__item {
      gap: 10px;
      font-size: 14px;
    }
    &__footer {
      &--underlined {
        text-decoration: underline;
        &:focus,
        &:hover {
          color: $secondaryColor;
        }
      }
    }
  }
}
