.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  &__background {
    background: linear-gradient(#2f303a66, #2f303a66),
      url(../images/backgroundmob@1x.jpg);
    background-position: center;
    background-size: 884px;
    background-repeat: no-repeat;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background: linear-gradient(#2f303a66, #2f303a66),
        url(../images/backgroundmob@2x.jpg);
    }
  }
  &__text {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-style: normal;
    display: block;
    text-align: center;
    margin: 0 42px;
  }
  &__button {
    background-color: $secondaryColor;
    color: $white;
    font-size: 16px;
    font-weight: 700;
    font-family: $fontFamily;
    cursor: pointer;
    outline: none;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 58px;
  }
}
@media screen and (min-width: 768px) {
  .order {
    &__background {
      background: linear-gradient(#2f303a66, #2f303a66),
        url(../images/backgroundtab@1x.jpg);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background: linear-gradient(#2f303a66, #2f303a66),
          url(../images/backgroundtab@2x.jpg);
      }
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1168px;
    }
    &__text {
      margin: 58px 186px 0 187px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .order {
    &__background {
      background: linear-gradient(#2f303a66, #2f303a66),
        url(../images/backgrounddesk@1x.jpg);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background: linear-gradient(#2f303a66, #2f303a66),
          url(../images/backgrounddesk@2x.jpg);
      }
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1600px;
    }
    &__text {
      font-size: 44px;
      line-height: 1.36;
      margin: 106px 252px 0;
    }
    &__button {
      margin-bottom: 106px;
    }
  }
}
