h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  padding: 0;
  margin: 0;
}
body {
  font-family: $fontFamily;
  color: $textDarkerColor;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.header-border {
  border-bottom: 1px solid $portfolioBorder;
  padding: 10px 0;
  position: relative;
}
.container {
  margin: 0 auto;
  max-width: 480px;
  padding: 0 15px;
}
.section {
  padding: 60px 0;
  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    vertical-align: top;
    margin-bottom: 10px;
  }
}
.page-section__background {
  margin: 0 auto;
  max-width: 480px;
  &--dark {
    background-color: $backgroundColor;
  }
  &--grey {
    background-color: $primaryColor;
  }
}
@include tablet {
  .header-border {
    border-bottom: 1px solid $portfolioBorder;
    padding: 21px 0;
    position: relative;
  }
  .container {
    max-width: 768px;
    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .page-section__background {
    min-width: 768px;
  }
}
@include desktop {
  .header-border {
    border-bottom: 1px solid $portfolioBorder;
    padding: 24px 0 25px;
    position: relative;
  }
  .container {
    max-width: 1200px;
    &--negative-margin {
      margin-top: -94px;
    }
    &--footer {
      display: flex;
      gap: 70px;
    }
  }
  .section {
    padding: 94px 0;
    &__title {
      font-size: 36px;
    }
  }
  .page-section__background {
    min-width: 1200px;
  }
}
