$animationTime: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$primaryColor: #f5f4fa;
$secondaryColor: #2196f3;
$backgroundColor: #2f303a;
$white: #fff;
$textLightColor: #757575;
$textDarkerColor: #212121;
$icons: #afb1b8;
$transparentWhite: rgba(255, 255, 255, 0.6);
$portfolioBorder: #ececec;
$fontFamily: "Roboto", sans-serif;
